.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
}

.modalDialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalHeader,
.modalFooter {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modalHeader {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.modalFooter {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}

.modalClose {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  transition: opacity ease 0.5s;
  &:hover {
    opacity: 1;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.modalBody {
  overflow: auto;
}

.modalContent {
  padding: 1rem;
}
