.error {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  font-family: "Roboto", sans-serif;
  max-height: 100px;
  margin: 30px auto 0;
  padding: 0 50px;
  width: 63%;
  max-width: 1700px;
}
