.wrapperRow {
display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}
.coinRank {
  width: 8%;
  text-align: left;
}
.coinName {
  display: flex;
  flex-flow: column;
  text-align: left;
  justify-content: center;
  width: 15%;
  height: 70px;
}
.coinSymbol {
  color: gray;
}
.coinPrice {
  width: 12%;
  text-align: left;
}
.coinMarketCap {
  width: 10%;
}
.coinVwap {
  width: 10%;
  padding-left: 5px;
}
.coinSupply {
  width: 10%;
  padding-left: 5px;
}
.coinVolume {
  width: 10%;
}
.coinChange {
  width: 10%;
}
.wrapperTHead {
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin-left: -13px;
  height: 40px;

}
.btnAdd {
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-align: center;
  position: relative;
  right: 44px;
  &:hover {
    background-color: #ababab;
    border: 1px solid gray;
  }
}

.wrapperTable {
  margin: 0 auto ;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: 0 5px 24px 2px rgba(34, 60, 80, 0.2);
}
.coinHRank {
  width: 8%;
}
.wrapper{

  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  border-top: 1px solid #ababab;
  display: flex;

  font-family: "Roboto", sans-serif;
  cursor: pointer;
  &:hover {
    background-color: #c9c9c9;
  }
}
@media (max-width: 500px) {
  .wrapper{
    max-width: 500px;
    font-size: 14px;
  }
  .coinMarketCap,.coinVolume,.coinVwap,.coinSupply  {
    display: none;
  }
.wrapperRow{
  justify-content: space-evenly
}
  .wrapperTHead{
    justify-content: space-evenly
  }
}
@media (max-width: 850px) {
  .wrapper{
    max-width: 850px;
  }
  .coinVolume,.coinVwap,.coinSupply  {
    display: none;
  }
  .wrapperRow{
    justify-content: space-evenly
  }
  .wrapperTHead{
    justify-content: space-evenly
  }
}