.wrapperHeader {

  height: 60px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: snow;
  letter-spacing : 2px;
  margin-bottom: 10px;


}

.headItem {
  width: 200px;
  font-weight: 700;

}
.basket {

  color: #133610;
  cursor: pointer;
  font-size: 24px;
}
.fix{
  width: 100%;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: snow;
  letter-spacing : 2px;
  margin-bottom: 10px;
  position: fixed;
  background: rgb(97,202,84);
  background: radial-gradient(circle, rgba(97,202,84,1) 0%, rgba(103,202,82,1) 100%);
}

.difference{margin: 0 10px;

}

@media (max-width: 500px) {
.price{
  display: none;
}
  .headItem{
    display: none;
  }
}
@media (max-width: 850px) {
 .fix{
   font-size: 14px;
   font-weight: 400;
 }
  .headItem {
    width: 100px;
  }

  }