.wrapperHeader {
  width: 100%;
  height: 60px;
  padding: 15px;
  background: rgb(97,202,84);
  background: radial-gradient(circle, rgba(97,202,84,1) 0%, rgba(103,202,82,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: snow;
  letter-spacing : 2px;
  margin-bottom: 50px;
}
.wrapperHeadItem {
}
.headItem {
  width: 200px;
  font-weight: 700;
}
.basket {
  cursor: pointer;
  font-size: 24px;
}
