.wrapperFooter {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  margin: 50px auto;
  &:before {
    content: "";
    display: flex;
    background-color: #e7e7e7;
    height: 2px;
    width: 100%;
  }
}

.footerItem {
  color: #a8a8a8;
}
